In [39]:
import numpy as np
import pandas as pd

In [40]:
df1 = pd.read_csv('../Dataset/ecommerceDataset.csv', names = ['label', 'description'])

In [41]:
df1.loc[df1.label == 'Electronics', 'description']

39804    Dell 19.5V-3.34AMP 65W Laptop Adapter (Without...
39805    Bluetooth Dongle USB CSR 4.0 Adapter Receiver ...
39806    Wi-Fi Receiver 300Mbps, 2.4GHz, 802.11b/g/n US...
39807    SanDisk 64GB Class 10 microSDXC Memory Card wi...
39808    Gizga Essentials Laptop Power Cable Cord- 3 Pi...
                               ...
50420    Strontium MicroSD Class 10 8GB Memory Card (Bl...
50421    CrossBeats Wave Waterproof Bluetooth Wireless ...
50422    Karbonn Titanium Wind W4 (White) Karbonn Titan...
50423    Samsung Guru FM Plus (SM-B110E/D, Black) Colou...
50424                     Micromax Canvas Win W121 (White)
Name: description, Length: 10621, dtype: object

In [42]:
df1 = df1[['description', 'label']]
df1

                                             description        label
0      Paper Plane Design Framed Wall Hanging Motivat...    Household
1      SAF 'Floral' Framed Painting (Wood, 30 inch x ...    Household
2      SAF 'UV Textured Modern Art Print Framed' Pain...    Household
3      SAF Flower Print Framed Painting (Synthetic, 1...    Household
4      Incredible Gifts India Wooden Happy Birthday U...    Household
...                                                  ...          ...
50420  Strontium MicroSD Class 10 8GB Memory Card (Bl...  Electronics
50421  CrossBeats Wave Waterproof Bluetooth Wireless ...  Electronics
50422  Karbonn Titanium Wind W4 (White) Karbonn Titan...  Electronics
50423  Samsung Guru FM Plus (SM-B110E/D, Black) Colou...  Electronics
50424                   Micromax Canvas Win W121 (White)  Electronics

[50425 rows x 2 columns]

In [43]:
df1.label.value_counts()

label
Household                 19313
Books                     11820
Electronics               10621
Clothing & Accessories     8671
Name: count, dtype: int64

In [44]:
df2 = pd.read_csv('../Dataset/home_sdf_marketing_sample_for_amazon_in-ecommerce.csv')

In [45]:
df2 = df2[['Product Title', 'Category']]

In [46]:
df2.columns = ['description','label']

In [47]:
df2

,description,label
0,Lee posh Lactic Acid 60% Anti ageing Pigmenta...,Skin Care
1,Branded SLB Works New 1.5mm Titanium 1200 nee...,Skin Care
2,Generic 1 Pc brand snail eye cream remove dar...,Skin Care
3,Generic Anti Snoring Snore Stopper Sleep Apne...,Skin Care
4,Harveys Crunchy & Creame Gourmet Delicacies C...,Grocery & Gourmet Foods
...,...,...
29995,Pure Organics Skin Lightening Mild Face Scrub...,Skin Care
29996,Yashus Moisturizing Anti-aging Gold Collagen ...,Skin Care
29997,Elancyl Slim Design Flat Stomach 150ml,Skin Care
29998,"KEYA SETH AROMATHERAPY, DEVICE OF DROP Alopex...",Hair Care
29999,Slss Anti Wrinkle Organic Hyaluronic Acid Vit...,Skin Care

In [48]:
df2.label.value_counts()

label
Skin Care                  15033
Grocery & Gourmet Foods     8064
Hair Care                   2459
Bath & Shower               2140
Fragrance                   2107
Detergents & Dishwash        197
Name: count, dtype: int64

In [49]:
df2.loc[df2['label']=='Fragrance', 'label'] = 'Health & Beauty'
df2.loc[df2['label']=='Hair Care', 'label'] = 'Health & Beauty'
df2.loc[df2['label']=='Bath & Shower', 'label'] = 'Health & Beauty'
df2.loc[df2['label']=='Skin Care', 'label'] = 'Health & Beauty'

In [50]:
df2.label.value_counts()

label
Health & Beauty            21739
Grocery & Gourmet Foods     8064
Detergents & Dishwash        197
Name: count, dtype: int64

In [51]:
df3 = pd.read_csv('../Dataset/pricerunner_aggregate.csv')

In [52]:
df3

,Product ID,Product Title,Merchant ID,Cluster ID,Cluster Label,Category ID,Category Label,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones,NaN,NaN,NaN
1,2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones,NaN,NaN,NaN
2,3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones,NaN,NaN,NaN
3,4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones,NaN,NaN,NaN
4,5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
35306,47350,smeg fab28 60cm retro style right hand hinge f...,59,47517,Smeg FAB28 Cream,2623,Fridges,NaN,NaN,NaN
35307,47351,smeg fab28 60cm retro style left hand hinge fr...,59,47518,Smeg FAB28 Red,2623,Fridges,NaN,NaN,NaN
35308,47352,smeg fab28 60cm retro style left hand hinge fr...,59,47519,Smeg FAB28 Pink,2623,Fridges,NaN,NaN,NaN
35309,47355,candy 60cm built under larder fridge cru160nek,125,47524,Candy CRU16.0,2623,Fridges,NaN,NaN,NaN
35310,47358,neff k4316x7gb built under larder fridge,179,47525,Neff K4316,2623,Fridges,NaN,NaN,NaN

In [53]:
df3 = df3[['Product Title',' Category Label']]

In [54]:
df3.columns = ['description', 'label']

In [55]:
df3

                                             description          label
0                        apple iphone 8 plus 64gb silver  Mobile Phones
1                    apple iphone 8 plus 64 gb spacegrau  Mobile Phones
2      apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...  Mobile Phones
3                    apple iphone 8 plus 64gb space grey  Mobile Phones
4      apple iphone 8 plus gold 5.5 64gb 4g unlocked ...  Mobile Phones
...                                                  ...            ...
35306  smeg fab28 60cm retro style right hand hinge f...        Fridges
35307  smeg fab28 60cm retro style left hand hinge fr...        Fridges
35308  smeg fab28 60cm retro style left hand hinge fr...        Fridges
35309     candy 60cm built under larder fridge cru160nek        Fridges
35310           neff k4316x7gb built under larder fridge        Fridges

[35311 rows x 2 columns]

In [56]:
df3.label.value_counts()

label
Fridge Freezers     5501
Mobile Phones       4081
Washing Machines    4044
CPUs                3862
Fridges             3584
TVs                 3564
Dishwashers         3424
Digital Cameras     2697
Microwaves          2342
Freezers            2212
Name: count, dtype: int64

In [57]:
df4 = pd.read_csv('../Dataset/skroutz_aggregate.csv', index_col=0)

In [58]:
df4

,amd ryzen 5 1600 box epexergastis me wraith spire cooler pliromi eos 24 dosis amd,1030,1.1,AMD Ryzen 5 1600 Box,696,CPUs
1,,,,,,
2,amd ryzen 5 1600,3964,1,AMD Ryzen 5 1600 Box,696,CPUs
3,amd ryzen 5 1600 box pliromi ke se eos 36 dosis,4814,1,AMD Ryzen 5 1600 Box,696,CPUs
4,amd ryzen 5 1600 yd1600bbaebox,4835,1,AMD Ryzen 5 1600 Box,696,CPUs
5,amd ryzen 5 1600 box yd1600bbaebox,2976,1,AMD Ryzen 5 1600 Box,696,CPUs
6,amd ryzen 5 1600 yd1600bbaebox,3427,1,AMD Ryzen 5 1600 Box,696,CPUs
...,...,...,...,...,...,...
482285,bataria super b sb12v15p sc technologias lithiou,2413,124627,Super B Lithium Ion SB12V15P-SC 60Ah,1695,Car & Boat Batteries
482288,bataria super b sb12v15p ec technologias lithiou,2413,124628,Super B Lithium Ion SB12V15P-EC 60Ah,1695,Car & Boat Batteries
482291,bataria super b sb12v20p sc technologias lithiou,2413,124629,Super B Lithium Ion SB12V20P-SC 100Ah,1695,Car & Boat Batteries
482293,bataria super b sb12v20p fc technologias lithiou,2413,124630,Super B Lithium Ion SB12V20P-FC 100Ah,1695,Car & Boat Batteries
482296,bataria super b sb12v25p sc technologias lithiou,2413,124631,Super B Lithium Ion SB12V25P-SC 130Ah,1695,Car & Boat Batteries

In [59]:
df4.columns = ['description', '','','title', '', 'label']

In [60]:
df4 = df4[['description', 'label']]

In [61]:
df4.label.value_counts()

label
Men's Watches                        100311
Women's Watches                       78346
Refrigerators                         16177
Home Air Conditioners - Inverters     13595
Cookers & Ovens                       10858
Televisions                            7002
Car & Boat Batteries                   5864
CPUs                                   1905
Compact Cameras                        1680
DSLR Cameras                           1133
Mirrorless Cameras                      903
Analog Cameras                          395
Name: count, dtype: int64

In [62]:
df5 = pd.read_csv('../Dataset/titles_to_categories.csv')

In [63]:
df5.columns = ['description', 'label']

In [64]:
df5_categories = pd.DataFrame(df5.label.value_counts()).reset_index()

In [65]:
for i in df5_categories.label:
    if 'house' in i.lower():
        print(f"df5[df5['label']==\"{i}\"],")
        # print(i)

df5[df5['label']=="Household Cleaning"],
df5[df5['label']=="Household Cleaning Tools"],
df5[df5['label']=="House Numbers, Plaques  Signs"],
df5[df5['label']=="Household Batteries, Chargers & Accessories"],
df5[df5['label']=="Paper  Plastic Household Supplies"],
df5[df5['label']=="Household Cleaning Supplies"],
df5[df5['label']=="Household Batteries"],
df5[df5['label']=="Household Supplies"],
df5[df5['label']=="Health & Household"],

In [66]:
df5_jewels = pd.concat([
    df5[df5['label']=="Women's Jewelry"],
    df5[df5['label']=='Handmade Jewellery'],
    df5[df5['label']=="Men's Jewelry"],
    df5[df5['label']=="Girls' Jewelry"],
    df5[df5['label']=="Boys' Jewelry"],
    df5[df5['label']=="Beading & Jewelry Making"],
    ])
df5_jewels['label'] = 'Jewelry'

df5_clothing = pd.concat([
    df5[df5['label']=="Men's Clothing"],
    df5[df5['label']=="Women's Clothing"],
    df5[df5['label']=="Girls' Clothing"],
    df5[df5['label']=="Boys' Clothing"],
    df5[df5['label']=="Novelty  Special Use Clothing"],
    df5[df5['label']=="Baby Boys' Clothing & Shoes"],
    df5[df5['label']=="Baby Girls' Clothing & Shoes"],
    df5[df5['label']=="Ski Clothing"],
    df5[df5['label']=="Motorbike Clothing"],    
])
df5_clothing['label'] = 'Clothing & Accessories'


df5_watches = pd.concat([
    df5[df5['label']=="Men's Watches"],
    df5[df5['label']=="Women's Watches"],
    df5[df5['label']=="Smartwatches"],
    df5[df5['label']=="Boys' Watches"],
    df5[df5['label']=="Girls' Watches"],  
])
df5_watches['label'] = 'Watches'

df5_footwear = pd.concat([
    df5[df5['label']=="Men's Shoes"],
    df5[df5['label']=="Women's Shoes"],
    df5[df5['label']=="Girls' Shoes"],
    df5[df5['label']=="Cycling Shoes"],
    df5[df5['label']=="Baby Boys' Clothing & Shoes"],
    df5[df5['label']=="Tennis Shoes"],
    df5[df5['label']=="Boys' Shoes"],
    df5[df5['label']=="Boxing Shoes"],
    df5[df5['label']=="Men's Sports & Outdoor Shoes"],
    df5[df5['label']=="Women's Sports & Outdoor Shoes"],
    df5[df5['label']=="Cricket Shoes"],
    df5[df5['label']=="Hockey Shoes"],
    df5[df5['label']=="Golf Shoes"],
])
df5_footwear['label'] = 'Footwear'

df5_furniture = pd.concat([
    df5[df5['label']=="Furniture"],
    df5[df5['label']=='Garden Furniture & Accessories'],
    df5[df5['label']=="Furniture & Lighting"],
    df5[df5['label']=="Furniture Hardware"],
    df5[df5['label']=="Patio Furniture  Accessories"],
    df5[df5['label']=="Nursery Furniture, Bedding  Décor"],
    df5[df5['label']=="Kids' Furniture"],
    df5[df5['label']=="Living Room Furniture"],
    df5[df5['label']=="Nursery Furniture, Bedding & Décor"],
    df5[df5['label']=="Bedroom Furniture"],
    df5[df5['label']=="Hallway Furniture"],
    df5[df5['label']=="Bathroom Furniture"],
    df5[df5['label']=="Handmade Furniture"],
    df5[df5['label']=="Home Entertainment Furniture"],
    df5[df5['label']=="Dining Room Furniture"],
    df5[df5['label']=="Home Office Furniture"],
    df5[df5['label']=="Home Bar Furniture"],
    ])
df5_furniture['label'] = 'Furniture'

df5_household = pd.concat([
    df5[df5['label']=="Household Cleaning"],
    df5[df5['label']=="Household Cleaning Tools"],
    df5[df5['label']=="House Numbers, Plaques  Signs"],
    df5[df5['label']=="Household Batteries, Chargers & Accessories"],
    df5[df5['label']=="Paper  Plastic Household Supplies"],
    df5[df5['label']=="Household Cleaning Supplies"],
    df5[df5['label']=="Household Batteries"],
    df5[df5['label']=="Household Supplies"],
    df5[df5['label']=="Health & Household"],
])
df5_household['label'] = 'Household'

In [67]:
df5_furniture.label.value_counts()

label
Furniture    91403
Name: count, dtype: int64

In [68]:
df = pd.DataFrame()

In [69]:
df = pd.concat([ 
                df1[df1['label']=='Books'], 
                df1[df1['label']=='Electronics'], 
                df2[df2['label']=='Health & Beauty'],
                df2[df2['label']=='Grocery & Gourmet Foods'],
                df5[df5['label']=='Toys & Games'],
                df5[df5['label']=='Sports & Outdoors'],
                df5_jewels,
                df5_furniture,
                df5_watches,
                df5_clothing,
                df5_footwear,
                df5_household
            ]).reset_index(drop=True)

In [71]:
df.to_csv('../Dataset/Perfect_dataset.csv', index=False)

In [70]:
df.label.value_counts()

label
Sports & Outdoors          720050
Jewelry                    107730
Clothing & Accessories     107370
Footwear                   103301
Furniture                   91403
Household                   62542
Watches                     56456
Health & Beauty             21739
Toys & Games                18990
Books                       11820
Electronics                 10621
Grocery & Gourmet Foods      8064
Name: count, dtype: int64